body {
  margin: 0;
}

.background-container {
  width: 100vw;
  height: 100vh;
  background-color: beige;
}

.image-container {
  width: 200px;
  height: 200px;
  background-color: white;
  margin-left: 20px;
  margin-top: 20vh;
}

.box-container {
  margin-left: auto;
  margin-right: auto;
}

.image-size {
  max-width: 150px;
  max-height: 150px;
}

.buttonContainer {
  text-align: center;
  margin-top: 20px;
}
